{% extends 'base.html.twig' %}

{% block title %}Composants{% endblock %}

{% block body %}

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>idComposant</th>
                <th>Nom Composant</th>
                {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            <section class="composants">
                {% for composant in composants %}
                    <tr>
                        <td>{{ composant.id }}</td>
                        <td>{{ composant.NomComposant }}</td>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <td width="150px">
                                <a href="#modifiercomp" class="modal-trigger btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Modifer un composant">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="{{ path('supprimerComposant', {'id': composant.id }) }}" class="btn waves-effect blue darken-3 tooltipped" data-position="top" data-tooltip="Supprimer un composant">
                                    <i class="material-icons">clear</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </section>
        </tbody>
    </table>
    <!-- Modal -->
    <div id="modifiercomp" class="modal bottom-sheet">
        <div class="modal-content container">
            <h4 class="center">Modifier Composant</h4>
            <div class="row">

                <div class="input-field col s9"></div>
                <div class="input-field col s3">
                    <button type="submit" class="btn waves-effect blue darken-3">
                        Modifier composant
                        <i class="material-icons right">check</i>
                    </button>
                </div>
            </div>

        </div>

    </div>
{% endblock %}