{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>idFamille</th>
                <th>Nom Famille</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for famille in familles %}
                <tr>
                    <td>{{ famille.id }}</td>
                    <td>{{ famille.nom_famille }}
                    </td>
                    {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                        <td>
                            <a href="" class="btn">
                                <i class="material-icons">create</i>
                            </a>
                            <a href="" class="btn">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}