{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>idFamille</th>
                <th>Nom Famille</th>
                {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            <section class="familles">
                {% for famille in familles %}
                    <tr>
                        <td>{{ famille.id }}</td>
                        <td>{{ famille.NomFamille }}</td>
                        {% if app.user.getRoles() == ['ROLE_ADMIN'] %}
                            <td width="190px">
                                <a href="#modal2" class="modal-trigger btn waves-effect blue darken-3">
                                    <i class="material-icons">
                                        calendar_view_day
                                    </i>
                                </a>
                                <a href="" class="btn waves-effect blue darken-3">
                                    <i class="material-icons">create</i>
                                </a>
                                <a href="{{ path('supprimerFamille', {'id': famille.id }) }}" class="btn waves-effect blue darken-3">
                                    <i class="material-icons">clear</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </section>
        </tbody>
    </table>

{% endblock %}