{% extends 'base.html.twig' %}

{% block title %}Gestion Medicaments{% endblock %}

{% block body %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">

            <br><br>
            {# <h1 class="header center teal-text text-lighten-2">Parallax Template</h1> #}
            <div class="center row center">
                <br>
                <br>
                <br>
                <a href="#modal1" class="modal-trigger btn-large blue waves-effect darken-3">
                    <i class="material-icons left">
                        perm_identity
                    </i>
                    Login
                </a>
            </div>
            <br><br>

        </div>
        <div class="parallax"><img src=""></div>
    </div>

{% endblock %}