{% extends 'base.html.twig' %}
{% block title %}Gestion Medicaments{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s4">
            <div class="card z-depth-5 hoverable">
                <div class="card-content  blue-grey lighten-4">
                    <h4 class="header">Familles</h4>
                    <a href="#">
                        <div class="card-image">
                            <ul class="collection black-text">
                                <li class="collection-item">Famille 1</li>
                                <li class="collection-item ">Famille 2</li>
                                <li class="collection-item ">Famille 3</li>
                                <li class="collection-item ">Famille 4</li>
                            </ul>

                        </div>

                    </a>
                    <a class="btn-floating halfway-fab btn-large waves-effect waves-light blue darken-1">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card z-depth-5 hoverable">
                <div class="card-content with-text blue darken-2">
                    <h4 class="header white-text">Médicaments</h4>
                    <a href="#">
                        <div class="card-image">
                            <ul class="collection black-text">
                                <li class="collection-item">Médicament 1</li>
                                <li class="collection-item ">Médicament 2</li>
                                <li class="collection-item ">Médicament 3</li>
                                <li class="collection-item ">Médicament 4</li>
                            </ul>
                            <a class="btn-floating halfway-fab btn-large waves-effect waves-light blue darken-1">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="card-action">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card z-depth-5 hoverable">
                <div class="card-content with-text blue darken-2">
                    <h4 class="header white-text">Composants</h4>
                    <a href="#">
                        <div class="card-image">
                            <ul class="collection black-text">
                                <li class="collection-item">Composant 1</li>
                                <li class="collection-item ">Composant 2</li>
                                <li class="collection-item ">Composant 3</li>
                                <li class="collection-item ">Composant 4</li>
                            </ul>
                            <a class="btn-floating halfway-fab btn-large waves-effect waves-light blue darken-1">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </a>
                </div>
                <div class="card-action">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>

    {% endblock %}